.button {
  display: block;
  min-width: 180px;
  max-width: 250px;
  padding: 15px 22px;
  color: $light-color;
  background-color: $first-color;
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.2px;
  transition: all 0.3s linear;
  box-shadow: $box-shadow;

  &--arrow {
    padding-right: 40px;
    background-image: url("../img/header/header__member.svg");
    background-repeat: no-repeat;
    background-position: 90% 50%;
    background-size: 15px 10px;
    text-align: center;
  }

  &--round,
  &--transparent {
    padding: 10px 35px;
    border-radius: 37px;
    text-align: center;

    @media (min-width: 992px) {
      padding: 15px 37px;
    }
  }

  &:hover,
  &:active,
  &:focus,
  &--arrow:hover,
  &--arrow:active,
  &--arrow:focus,
  &--round:hover,
  &--round:active,
  &--round:focus {
    color: $first-color;
    background-color: $light-color;
    transform: scale(0.9);
    text-decoration: none;
    box-shadow: none;
  }

  &--transparent {
    background-color: transparent;
    border: 1px solid $light-color;
    text-align: center;
    box-shadow: $box-shadow;

    &:hover,
    &:active,
    &:focus {
      color: $first-color;
      background-color: transparent;
      border: 1px solid $first-color;
      transform: scale(0.9);
      text-decoration: none;
      box-shadow: none;
    }
  }
}
