.intro {
  min-height: 650px;
  padding-top: 6rem;
  background-image: linear-gradient(89.85deg, #000000 0.13%, #000000 0.14%, rgba(0, 0, 0, 0) 99.56%),
    url("../img/intro/intro_bg.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  background-position: center, center;
  color: $textmenu;
  background-color: transparent;
  display: flex;
  align-items: flex-start;

  &__container {
    margin: 80px 50px;

    @media (min-width: 992px) {
      margin: 115px 50px;
      width: 50%;
    }
  }

  &__title {
  }

  &__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.2px;
    margin-top: 40px;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

    @media (min-width: 992px) {
      flex-direction: row;
    }
  }

  &__button {
    &:first-child {
      margin-bottom: 25px;

      @media (min-width: 992px) {
        margin-bottom: 0;
        margin-right: 25px;
      }
    }
  }
}
